<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="normalize.css" rel="stylesheet" type="text/css" />
		<link href="styles.css" rel="stylesheet" type="text/css" />

		<title>One Column Layout</title>
	</head>

	<body>

		<div class="site">
			<header class="site-header">
				<h1 class="site-title">One Column Layout</h1>

				<nav class="site-navigation">
					<ul>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
					</ul>
				</nav><!-- .site-navigation -->
			</header><!-- .site-header -->

			<img src="http://placehold.it/1000X300" alt="Header Image" />

			<article class="site-content">
				<h1>Cupcake Ipsum Dolor</h1>

				<p>Sit amet tootsie roll I love I love I love carrot cake. Cupcake candy icing wafer apple pie muffin powder sugar plum. Marzipan lollipop cake icing. I love chupa chups candy gingerbread I love. Pie brownie dessert chocolate. Marshmallow sweet roll marshmallow jujubes apple pie.</p>

				<p>Brownie gummies chocolate bar icing pie sweet. Candy chupa chups bonbon ice cream I love cookie croissant caramels fruitcake. Chocolate caramels dessert chocolate gummies brownie jelly beans jelly beans cake. Cotton candy tiramisu bear claw dragée chocolate. Cotton candy pastry caramels marshmallow jelly ice cream I love. I love bonbon chupa chups croissant powder. Gingerbread soufflé tiramisu carrot cake. Croissant chupa chups I love danish.</p>

				<p>Bear claw cotton candy powder I love bonbon apple pie. I love soufflé danish cupcake sweet roll. Jujubes danish danish macaroon biscuit I love liquorice halvah sugar plum. Chocolate bar chocolate cake chocolate bar pastry tootsie roll danish chupa chups jujubes. Dragée sweet carrot cake cookie sweet roll. Cake oat cake sweet candy canes. Bear claw ice cream liquorice sweet roll marzipan brownie powder sweet powder. Chocolate cake I love I love I love chocolate cake liquorice I love. Icing carrot cake cake. Donut cheesecake gingerbread pudding tiramisu I love soufflé caramels dessert.</p>
			</article><!-- .site-content -->

			<footer class="site-footer">
				<section class="column">
					<h3>A Column...</h3>

					<p>Sit amet tootsie roll I love I love I love carrot cake. Cupcake candy icing wafer apple pie muffin powder sugar plum. Marzipan lollipop cake icing.</p>
				</section>

				<section class="column">
					<h3>A Column...</h3>

					<p>Sit amet tootsie roll I love I love I love carrot cake. Cupcake candy icing wafer apple pie muffin powder sugar plum. Marzipan lollipop cake icing.</p>
				</section>

				<section class="column last">
					<h3>A Column...</h3>

					<p>Sit amet tootsie roll I love I love I love carrot cake. Cupcake candy icing wafer apple pie muffin powder sugar plum. Marzipan lollipop cake icing.</p>
				</section>
			</footer><!-- .site-footer -->
		</div><!-- .site -->

	</body>
</html>