/*
  Website Name: Girl Scouts of Western Ohio Workshop
  Description: 
  Author(s): Your Name(s)...

Contents
==============================================================
  1. =Structure
  2. =Elements
  3. =Header
  4. =Navigation
  5. =Content
  6. =Footer
  7. =Columns
  8. =Media Queries
*/

/* =Structure
--------------------------------------------------------------*/
body {
  background-color: #ddd;
  padding: 40px;
  font-size: 18px;
  line-height: 26px;
}
.site {
  background-color: white;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,.25);
}
.hero {
  height: 100px;
  background-image: url(images/gs-pattern.png);
}
.home .hero {
  height: 400px;
}

/* =Elements
--------------------------------------------------------------*/
img {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
  margin-bottom: 20px;
  /*box-shadow: 0 0 10px rgba(0,0,0,.5);*/
  border: 2px dashed #ddd;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 26px;
  font-family: 'Montserrat', sans-serif;
}
ul {
 list-style-image: url(images/arrow-icon.png)
}
.link-list {
  list-style-image: url(images/link-icon.png);
  padding-left: 10px;
  margin-top: 0;
}
li {
  margin-bottom: 10px;
}
p {
  margin-bottom: 26px;
}
p:last-child, ul:last-child {
  margin-bottom: 0;
}

/* =Header
--------------------------------------------------------------*/
.site-header {
  padding: 20px 40px;
  text-align: center;
  overflow: hidden;
}
.site-title {
  margin: 0;
  float: left;
}
.site-title a {
  display: block;
  height: 63px;
  display: block;
  width: 173px;
  max-width: 100%;
  background-size: cover;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url(images/sparkbox-gswo.png);
}

/* =Navigation
--------------------------------------------------------------*/
.site-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 30px 10px 10px;
}
.site-navigation li {
  display: inline-block;
  margin-bottom: 0;
}
.site-navigation a {
  display: block;
  text-decoration: none;
  font-weight: 700;
  color: #4cacbe;
  font-size: 20px;
  padding: 0 20px;
  font-family: 'Montserrat', sans-serif;
}
.site-navigation a:hover {
  color: black;
}

/* =Content
--------------------------------------------------------------*/
.site-content {
  padding: 40px;
  overflow: hidden;
}
.section-header {
  color: black;
  font-size: 40px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  line-height: 40px;
  border-bottom: 2px dashed black;
}
.site-content h3 {
  text-transform: uppercase;
}
.site-content a {
  color: #4cacbe;
  text-decoration: none;
}
.site-content a:hover {
  color: black;
}

/* Workshop Section */
.workshop-resources {
  padding: 30px 40px 10px;
  margin-bottom: 40px;
  border: 2px dashed #00929a;
}

/* Resources Section */
.resources-content {
  color: white;
  background-color: #4cacbe;
}
.resources-content h4 {
  color: black;
  margin-bottom: 20px;
}
.resources-content a {
  color: white;
  text-decoration: none;
}
.resources-content a:hover {
  color: black;
}

/* =Footer
--------------------------------------------------------------*/
.site-footer {
  background-color: black;
  color: white;
  overflow: hidden;
  padding: 40px;
  clear: both;
  font-size: 14px;
}
.site-footer a {
  color: white;
}


/* =Media Queries
--------------------------------------------------------------*/
@media screen and (min-width: 675px) {
  /* =Content */
  .workshop-resources ul {
    margin-bottom: 0;
    list-style-position: inside;
    column-count: 2;
    column-gap: 20px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
  }
}

@media screen and (min-width: 800px) {
  /* =Header */
  .site-title {
    float: left;
  }

  /* =Navigation */
  .site-navigation {
    float: right;
  }
  .site-navigation a {
    padding: 0 0 0 20px;
  }

  /* =Columns */
  .column {
    width: 32%;
    float: left;
    padding-right: 2%;
  }
  .column.last {
    padding-right: 0;
  }

}

/* Crafted with love at Sparkbox */
